body{
  background: lightseagreen;
}

/* SIDEBAR */
/* The side navigation menu */
#home,
#portfolio{
  font-weight: 500;
  font-size: 120%;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: peachpuff;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  font-weight: 500;
}

/* Active/current link */
.sidebar a.active {
  background-color: #555;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* Icon Bar */
.icon-bar {
  width: 100%; /* Full-width */
  background-color: lightcoral;
  overflow: auto; /* Overflow due to float */
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 33.33%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
}



/* Container holding the image and the text */
.container {
  position: relative;
  text-align: left;
  color: white;
  margin-left: 200px;
}

#sunset{
    margin-right: 10px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 40px;
  left: 70px;
  font-weight: 600;
  font-size: 160%;
}
.top-lefter {
  position: absolute;
  top: 80px;
  left: 150px;
  font-weight: 600;
  font-size: 160%;
}

/* Bottom right Copyright text */
.bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
/* END OF CONTAINER */

/* Page break */
.first { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
}

#quote{
  margin-top: 30px;
  padding: 50px;
}

#therock{
  font-size: 145%;
  text-align: center;
  color: #222;
  font-weight: 600;
}

/* About Me Section */
h1{
  font-weight: 600;
  font-display: bold;
  text-align: center;
  font-size: 225%;
  color: #222;
}

#about-me{
  text-align: center;
}

#self{
  margin-left: 200px;
  position: absolute;
  padding: 10px;
  margin-top: 50px;
}

#bio {
  /* margin-left: 280px; */
  margin: 20px;
  padding: 30px;
  size: 100%;
  margin-left: 475px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 120%;
}

/* FOOTER */
footer{
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: lightcyan;
  padding: 30px;
  display: flex;
  justify-content: center;
}


/* CONTACT FORM */

#contact-form{
  padding: 20px;
  padding-bottom: 50px;
}

#contact{
  color: #222;
  font-weight: 500;
  font-size: 120%;
  padding-top: 20px;
}

/* Style inputs with type="text", select elements and textareas */ 
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

label{
  color: #222;
}

/* PORTFOLIO PAGE */
p {
  color: #333;
  text-align: center;
}

#header{
  font-weight: 600;
  font-size: 200%;
  color: #333;
  text-align: center;
  padding-top: 20px;
}

#port-paragraph{
  text-align: center;
  font-size: 110%;
  padding-bottom: 20px;
  margin-left: 50px;
}

.portfolio{
  margin-left: 10px;
}

.portfolio-container{
  margin-bottom: 50px;
}

.row {
  display: flex;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 40%;
  text-align: center;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  margin-bottom: 20px;
}

h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 20px lightcoral;
  padding-bottom: 10px;
}
