body{
  background: lightseagreen;
}

/* SIDEBAR */
/* The side navigation menu */
#home,
#portfolio{
  font-weight: 500;
  font-size: 120%;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: peachpuff;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  font-weight: 500;
}

/* Active/current link */
.sidebar a.active {
  background-color: #555;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* Icon Bar */
.icon-bar {
  width: 100%; /* Full-width */
  background-color: lightcoral;
  overflow: auto; /* Overflow due to float */
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 33.33%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
}



/* Container holding the image and the text */
.container {
  position: relative;
  text-align: left;
  color: white;
  margin-left: 200px;
}

#sunset{
    margin-right: 10px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 40px;
  left: 70px;
  font-weight: 600;
  font-size: 160%;
}
.top-lefter {
  position: absolute;
  top: 80px;
  left: 150px;
  font-weight: 600;
  font-size: 160%;
}

/* Bottom right Copyright text */
.bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
/* END OF CONTAINER */

/* Page break */
.first { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
}

#quote{
  margin-top: 30px;
  padding: 50px;
}

#therock{
  font-size: 145%;
  text-align: center;
}

/* About Me Section */
#about-me{
  font-weight: 600;
  font-display: bold;
  text-align: center;
  font-size: 225%;
}

#self{
  margin-left: 115px;
  
}

#bio {
  /* margin-left: 280px; */
  size: 50%;
  
}


/* FOOTER */
footer{
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: lightskyblue;
  padding: 30px;
}



